# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/copyright/
.idea/libraries/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/workspace.xml
src/main/resources/
src/test/
